.dark-editor {
  --accentBase: unset;
  --accentBgSubtle: unset;
  --accentBg: unset;
  --accentBgHover: unset;
  --accentBgActive: unset;
  --accentLine: unset;
  --accentBorder: unset;
  --accentBorderHover: unset;
  --accentSolid: unset;
  --accentSolidHover: unset;
  --accentText: unset;
  --accentTextContrast: unset;

  --baseBase: unset;
  --baseBgSubtle: unset;
  --baseBg: unset;
  --baseBgHover: unset;
  --baseBgActive: unset;
  --baseLine: unset;
  --baseBorder: unset;
  --baseBorderHover: unset;
  --baseSolid: unset;
  --baseSolidHover: unset;
  --baseText: unset;
  --baseTextContrast: unset;

  font-family: var(--inter);

  /* color: var(--baseText);
  background: var(--baseBg); */
}

.strip-default {
  color: var(--tw-prose-body);
  padding: 2rem;
}
