#editor ::selection {
  @apply bg-[inherit] text-[inherit];
}
#editor .cm-vim-panel {
  @apply bg-background/80 font-bold text-foreground;
}

#editor .cm-editor {
  @apply h-full w-full;
}

#editor .cm-focused {
  @apply outline-none;
}

#editor .cm-scroller {
  @apply overflow-hidden;
}

#editor .cm-fat-cursor {
  @apply bg-foreground;
  color: hsl(var(--background)) !important;
}

#editor .cm-cursor {
  @apply border-l-[2.5px] border-foreground;
}

#editor .cm-selectionBackground {
  background: hsl(var(--foreground)) !important;
  opacity: 0.1;
}

#editor .cm-focused .cm-selectionBackground {
  opacity: 0.12;
}

#editor .cm-selectionLayer :first-child {
  @apply rounded-l;
}

#editor .cm-selectionLayer :last-child {
  @apply rounded-r;
}
